<article>
  <form
    nz-form
    (ngSubmit)="submitted$.next()"
    [formGroup]="form"
    class="flex flex-col p-4"
  >
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="6" nzFor="name"
        >Username</nz-form-label
      >
      <nz-form-control [nzSpan]="14" [nzErrorTip]="nameErrorTpl">
        <input
          formControlName="username"
          placeholder="Username"
          nz-input
          type="text"
        />
      </nz-form-control>
      <ng-template #nameErrorTpl let-control>
        @if (control.errors?.['required']) { Username is required }
      </ng-template>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="6" nzFor="name">Email</nz-form-label>
      <nz-form-control [nzSpan]="14" [nzErrorTip]="emailErrorTpl">
        <input
          formControlName="email"
          placeholder="Email"
          nz-input
          type="email"
        />
      </nz-form-control>
      <ng-template #emailErrorTpl let-control>
        @if (control.errors?.['required']) { Email is required } @if
        (control.errors?.['email']) { Email pattern is not valid }
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="6" nzFor="name"
        >Password</nz-form-label
      >
      <nz-form-control [nzSpan]="14" [nzErrorTip]="passwordErrorTpl">
        <input
          formControlName="password"
          placeholder="Password"
          nz-input
          type="password"
        />
      </nz-form-control>
      <ng-template #passwordErrorTpl let-control>
        @if (control.errors?.['required']) { Password is required }
      </ng-template>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired [nzSpan]="6" nzFor="name">Role</nz-form-label>
      <nz-select formControlName="role">
        @for(role of userRoles | keyvalue; track role.key) {
        <nz-option [nzValue]="role.key" [nzLabel]="role.value"></nz-option>
        }
      </nz-select>
    </nz-form-item>

    <button nz-button type="submit">Register</button>
  </form>
</article>
