<form (ngSubmit)="submit$.next()" [formGroup]="form" nz-form>
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="nameErrorTpl">
      <input
        formControlName="name"
        nz-input
        name="name"
        type="text"
        id="name"
      />
    </nz-form-control>
    <ng-template #nameErrorTpl let-control>
      @if (control.errors?.["required"]) {
        Name is required
      }
      @if (control.errors?.["exists"]) {
        Name is already taken
      }
    </ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" nzFor="power">Power</nz-form-label>
    <nz-form-control [nzSpan]="14" [nzErrorTip]="powerErrorTpl">
      <input
        formControlName="power"
        nz-input
        name="power"
        type="text"
        id="power"
      />
    </nz-form-control>
    <ng-template #powerErrorTpl let-control>
      @if (control.errors?.["required"]) {
        Power is required
      }
      @if (control.errors?.["max"]) {
        Power can't be greater than {{ control.errors?.["max"].max }}
      }
      @if (control.errors?.["min"]) {
        Power can't be less than {{ control.errors?.["min"].min }}
      }
    </ng-template>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" nzFor="race">Race</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Race is required">
      <nz-select formControlName="race" id="race" name="race">
        @for (race of characterRaceLabels | keyvalue; track race.key) {
          <nz-option [nzValue]="+race.key" [nzLabel]="race.value"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="image">Image</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-upload
        [(nzFileList)]="fileList"
        [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChange($event)"
      >
        <button nz-button type="button">
          <span nz-icon nzType="upload"></span>
          Click to Upload
        </button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 20, offset: 4 }"
    >
      <button nz-button nzType="primary" type="submit">Save</button>
    </nz-form-control>
  </nz-form-item>
</form>
